body {
    background: #7c7c7c;
}

button#action {
    position: relative;
    top: 200px;
    left: 300px;
}

div#LNN {
    display: grid;
    position: relative;
    top: 300px;
    left: 200px;
    width: 135px;
    height: 230px;
    transform-origin: left bottom;
    transform: rotate(0deg);
}

img#body {
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

img#face {
    position: relative;
    top: -153px;
    left: 60px;
}

img#Li {
    position: absolute;
    top: 130px;
    left: 1200px;
    display: none;
}