body {
    background: #7c7c7c;
}

button#action {
    position: relative;
    top: 50px;
    left: 500px;
}

div#LNN {
    display: grid;
    position: relative;
    top: 200px;
    left: 600px;
    width: 135px;
}

img#body {
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

img#face {
    position: relative;
    top: -153px;
    left: 60px;
}

img#Li {
    position: absolute;
    top: 200px;
    left: 1300px;
    display: none;
}